*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
#kurticollection{
    border: solid red;
    height: 500px;
    /* width: 800px; */
    display: flex;

}
#kurticollection article{
    margin: 30px;
    border: solid blue;
    height: 25;
    width: 20%;
    gap:10px;

}