#box{
    /* height: 600px;
    width:  600px;
    border: solid black;

    background-color: purple;
    background-image: url("./c.jpg");
    background-repeat: no-repeat;
    background-position: center; */
    /* background-position-x: center; */
    /* background-position-y: bottom; */
}
body{
    background-image: url("./s.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

