* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#container{
    height: 500px;
    width: 800px;
    border: solid red;
    background-color: bisque;

    display: flex;
    
    justify-content: start;

    align-items: start;

    flex-direction: row;

    /* flex-wrap: wrap; */

    /* align-content: start; */

    row-gap: 10px;

    flex-grow: 10px;
}
#container div{
    height: 100px;
    width: 100px;
    border: solid blue;
    background-color: chocolate;
    font-weight: bold;
    text-align: center;
    color: white;


}