#div1{
    height: 120px;
    width: 120px;
    background-color: crimson;
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 100px;
}
#div2{
    height: 120px;
    width: 120px;
    background-color: skyblue;
    position: absolute;
    z-index: 0;

    top: 40px;
    left: 120px;
}
#div3{
    height: 120px;
    width: 120px;
    background-color: greenyellow;
    position: absolute;


    top: 60px;
    left: 140px;

    z-index: 1;
}
#div4{
    height: 120px;
    width: 120px;
    background-color: pink;
    position: absolute;

    top: 80px;
    left: 160px;
    z-index: 2;
}
#div5{
    height: 120px;
    width: 120px;
    background-color: mediumvioletred;
    position: absolute;
    
    top: 20px;
    left: 10px;

    z-index: 3;
}